{% extends 'base.html.twig' %}

{% block title %}Hello {{ parent() }}!{% endblock %}

{% block body %}
<h2>Ajout d'un nouvel évenement</h2>

{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit">Ajouter</button>
{{ form_end(form) }}

{% endblock %}
