{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<p>Bienvenue sur BeerTime</p>

<ul>
    <li>Liste des Events : <a href src={{ event_list }} /></li>
    <li></li>
    <li></li>
    <li></li>
</ul>


{% endblock %}
